body {
  font-family: "Open Sans";
}

.navigation {
  margin: auto;
  width: 100%;
  border: 3px solid rgb(83, 201, 191);
  background-color: rgb(83, 201, 191);
  padding: 10px;
}

.logoutbutton {
  margin-left: 0;
  padding-left: 0;
  width: 50px;
  outline: none;
  border: none;
  font-size: 15px;
  background: rgb(83, 201, 191);
}
