<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <title>Login Page</title>
  </head>
  <body>
    <div class="loginbox">
      <form action="/login" class="loginform" method="POST">
        <span style="margin-top: 7vh;"></span>
        <input
          style="line-height: 4vh;"
          type="text"
          name="userid"
          placeholder="userid"
        />
        <br />
        <input
          style="line-height: 4vh;"
          type="text"
          name="password"
          placeholder="password"
        />
        <br />
        <button style="margin-top: 2vh; height: 5vh;">Login</button>
      </form>
    </div>
  </body>
</html>
